@charset "UTF-8";
*, *::before, *::after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

#accueil { display: flex; flex-direction: column; justify-content: center; align-items: center; background: #E4E4E4; background-image: url("/ECOGEN/assets/images/Background.png"); height: 50vh; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

#ECOGEN img { width: 500px; height: auto; }

.button { width: 250px; height: auto; }

.button a { display: block; background: url("/ECOGEN/assets/images/BOUTON-bleu-ECOGEN-NEUTRE.png") no-repeat; background-size: contain; background-position: center; text-decoration: none; }

.button a:hover { background: url("/ECOGEN/assets/images/BOUTON-bleu-ECOGEN-SURVOL.png") no-repeat; background-size: contain; background-position: center; }

#subtitle { color: #00508A; font-size: 1.5em; text-align: center; margin-top: 50px; margin-bottom: 50px; }

/******************/
/*General settings*/
/******************/
body { margin: 0; margin-top: 60px; color: #7C8C93; font-family: "Open Sans", sans-serif; font-size: 1.1em; line-height: 1.6; -webkit-font-smoothing: antialiased; }

h1, h2, h3 { font-weight: 600; /*color: $heading-font-color;*/ font-family: "Muli", sans-serif; line-height: 1.5; }

h1 { color: #00508A; font-size: 3.5em; margin-bottom: 10px; }
h1 a, h1 a:visited { text-decoration: none; color: #00508A; }

h2 { font-size: 2em; text-align: left; /*margin: 10px;*/ }

a, a:visited { color: #425469; text-decoration: underline; /*font-weight: bold;*/ }

a:hover { color: #00508A; text-decoration: underline; }

main { padding: 0 15px; max-width: 800px; margin: 0px auto 50px auto; }

time { color: #898989; }

.container { max-width: 800px; margin: 0 auto; }

/*********/
/*Bandeau*/
/*********/
#logo { display: flex; align-items: center; margin-right: 20px; }

#logo a { display: flex; align-items: center; margin: 0; }

#logo img { width: 50px; margin: 0; padding: 0; }

#bandeau { display: flex; flex-direction: row; justify-content: center; align-items: center; position: fixed; top: 0; /*left: 0;*/ background: #fff; width: 100%; z-index: 2; border-bottom: 1px solid white; box-shadow: 0px 1px 1px RGBA(4, 25, 54, 0.1); }
#bandeau nav { /*float: center;*/ max-width: 800px; /*margin: auto;*/ }
#bandeau nav ul { margin: 0; padding: 0; list-style: none; }
#bandeau nav ul li { float: left; position: relative; }
#bandeau nav ul li a { text-decoration: none; display: block; padding: 20px; font-family: 'Muli', sans-serif; line-height: 20px; margin-bottom: -1px; box-shadow: 0; }
#bandeau nav ul li a:hover, #bandeau nav ul li a:active { background: #00508A; text-decoration: none; color: #ffffff; }
#bandeau nav:after { content: ''; display: table; clear: both; }

/********/
/*Footer*/
/********/
footer { text-align: center; padding: 10px; background: #E4E4E4; /*display: flex;*/ justify-content: center; align-items: center; font-size: 0.8em; }

/******************************************/
/*  réglages paragraphe */
/******************************************/
p { text-indent: 0em; }

.surligne { background-color: #E4E4E4; }

.notes { font-size: smaller; font-style: italic; margin-top: -1em; }

.copy-left { display: inline-block; text-align: right; margin: 0px; -moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); filter: FlipH; -ms-filter: “FlipH”; }

.colonne { display: flex; flex-direction: row; justify-content: center; /*justify-content: space-between;*/ }

.colonne aside { /*background-color: blue ;*/ width: 50%; }

.colonne aside + div { /*background-color: yellow ;*/ width: 100%; }

/******************************************/
/*Gestion des articles*/
/******************************************/
article > h1 { font-size: 1.5em; }

article > h2 { font-size: 1em; }

article > h3 { font-size: 2em; }

article { /*  margin:0; padding: 0;*/ justify-content: center; align-items: center; text-align: justify; }

aside { border-right-style: solid; border-right-color: grey; border-right-width: 1.1px; font-size: 0.7em; margin-right: 50px; padding-right: 20px; }

/******************************************/
/*Gestion des logos*/
/******************************************/
#logos { display: flex; flex-direction: row; /*flex-wrap: wrap;*/ justify-content: center; align-items: center; }

.imgLogos { width: 20%; height: 20%; /*padding :20px;*/ }

img { width: 100%; height: 100%; padding: 20px; }

/******************************************/
/*Gestion video*/
/******************************************/
.gallery { display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center; }

.galleryVideo { justify-content: center; align-items: center; text-align: justify; width: 45%; margin: 15px; font-size: 0.8em; }

.galleryGif { padding: 0; }

video { max-width: 100%; }

video + figcaption, img + figcaption { font-size: 80%; font-style: italic; text-align: center; }

.lettre { color: #00508A; }

/*Gestion des articles flex*/
.flex { display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center; }

.flex p { max-width: 60%; /*padding-right: 20px;*/ }

.flex img { max-width: 40%; padding-right: 20px; padding-left: 20px; }

/**********************/
/* Commandes terminal */
/**********************/
.cmd { border-style: solid; border-width: 1px; border-color: grey; border-radius: 10px; background-color: #E4E4E4; font: "Courrier New"; padding-left: 20px; }

#docs { width: 150px; height: auto; margin: 0; padding: 0; }

.colonneLeft { display: flex; flex-direction: row; justify-content: left; /*justify-content: space-between;*/ }
.colonneLeft a { margin-left: 10px; }

a.badge { margin: auto; text-decoration: none; }
a.badge img { vertical-align: middle; width: auto; height: auto; padding: 0; margin: auto; margin-left: 10px; margin-right: 10px; text-decoration: none; align-items: center; }

/** Syntax highlighting styles */
.highlight { background: #fff; }

.highlighter-rouge .highlight { background: #eef; }

.highlight .c { color: #998; font-style: italic; }

.highlight .err { color: #a61717; background-color: #e3d2d2; }

.highlight .k { font-weight: bold; }

.highlight .o { font-weight: bold; }

.highlight .cm { color: #998; font-style: italic; }

.highlight .cp { color: #999; font-weight: bold; }

.highlight .c1 { color: #998; font-style: italic; }

.highlight .cs { color: #999; font-weight: bold; font-style: italic; }

.highlight .gd { color: #000; background-color: #fdd; }

.highlight .gd .x { color: #000; background-color: #faa; }

.highlight .ge { font-style: italic; }

.highlight .gr { color: #a00; }

.highlight .gh { color: #999; }

.highlight .gi { color: #000; background-color: #dfd; }

.highlight .gi .x { color: #000; background-color: #afa; }

.highlight .go { color: #888; }

.highlight .gp { color: #555; }

.highlight .gs { font-weight: bold; }

.highlight .gu { color: #aaa; }

.highlight .gt { color: #a00; }

.highlight .kc { font-weight: bold; }

.highlight .kd { font-weight: bold; }

.highlight .kp { font-weight: bold; }

.highlight .kr { font-weight: bold; }

.highlight .kt { color: #458; font-weight: bold; }

.highlight .m { color: #099; }

.highlight .s { color: #d14; }

.highlight .na { color: #008080; }

.highlight .nb { color: #0086B3; }

.highlight .nc { color: #458; font-weight: bold; }

.highlight .no { color: #008080; }

.highlight .ni { color: #800080; }

.highlight .ne { color: #900; font-weight: bold; }

.highlight .nf { color: #900; font-weight: bold; }

.highlight .nn { color: #555; }

.highlight .nt { color: #000080; }

.highlight .nv { color: #008080; }

.highlight .ow { font-weight: bold; }

.highlight .w { color: #bbb; }

.highlight .mf { color: #099; }

.highlight .mh { color: #099; }

.highlight .mi { color: #099; }

.highlight .mo { color: #099; }

.highlight .sb { color: #d14; }

.highlight .sc { color: #d14; }

.highlight .sd { color: #d14; }

.highlight .s2 { color: #d14; }

.highlight .se { color: #d14; }

.highlight .sh { color: #d14; }

.highlight .si { color: #d14; }

.highlight .sx { color: #d14; }

.highlight .sr { color: #009926; }

.highlight .s1 { color: #d14; }

.highlight .ss { color: #990073; }

.highlight .bp { color: #999; }

.highlight .vc { color: #008080; }

.highlight .vg { color: #008080; }

.highlight .vi { color: #008080; }

.highlight .il { color: #099; }
